services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
    networks:
      - marketlink-network


  celery_worker:
    build: .
    command: celery -A marketlink worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis
    networks:
      - marketlink-network

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - marketlink-network
    command: redis-server --appendonly yes

volumes:
  redis-data:

networks:
  marketlink-network:
    driver: bridge
